.card{
    background-color: white;
    width: 20rem;
    height: 34rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    cursor: pointer;
    img{
        width: 18rem;
        align-self: center;
    }
    p{
        padding: 1rem;
        font-size: var(--fuente-pequena);
    }
}