<section class="filtersSection">
    <div class="filter">
        <p>Filter by Genre</p>
        <select name="genreFilter" id="genreFilter">
            <option value="value1">Value 1</option>
        </select>
    </div>
    <div class="filter">
        <p>Filter by Author</p>
        <select name="authorFilter" id="authorFilter">
            <option value="value1">Value 1</option>
        </select>
    </div>
    <div class="filter">
        <p>Order by</p>
        <select name="orderBy" id="orderBy">
            <option value="value1">Value 1</option>
        </select>
    </div>
    <div class="btn-go">
        <app-button></app-button>
        <p>Go!</p>
    </div>
</section>
