<!-- <div class="blackLine"></div> -->
<!-- <section class="moviesSection"> -->
    <!-- <app-paginator (pageChanged)="onPageChanged($event)" (genreChanged)="onGenreChanged($event)"></app-paginator> -->
    <!-- <div class="cards-container"> -->
        <!-- <app-card *ngFor="let movie of movies" [movie]="movie"></app-card> -->
        <!-- (click) = 'getMovieDetails(item.id)' -->
        <!-- <app-card [movie] = 'movie' *ngFor="let movie of movies; let i=index"></app-card> -->
    <!-- </div> -->
<!-- </section> -->
